<tr id="comment-<%= comment.id %>" class="bg-white border-b border-gray-200">
  <td class="p-4">
    <h3 class="text-sm font-medium text-gray-900"><%= comment.user.name %></h3>
    <p class="text-gray-600 mt-1"><%= simple_format(comment.content) %></p>
  </td>
  <% if current_user.own?(comment) %>
    <td class="p-4 text-right">
      <ul class="flex justify-end space-x-2">
        <li>
          <%= link_to comment_path(comment), class: "delete-comment-link text-red-600 hover:text-red-800", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }  do %>
            <i>削除</i>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>