<header class="bg-blue-300 text-white py-4">
  <div class="container mx-auto flex items-center justify-between px-4">
    <h1 class="text-2xl font-bold">椅子寝</h1>
    <nav>
      <ul class="flex space-x-4">
        <%= link_to "ログイン", '#' , class: "hover:text-gray-300" %>
        <%= link_to "新規登録", '#' , class: "hover:text-gray-300" %>
      </ul>
    </nav>
  </div>
</header>