<% flash.each do |message_type, message| %>
  <% case message_type %>
  <% when "success" %>
    <div class="bg-sky-950 border border-blue-500 text-white px-4 py-3 rounded" role="alert">
      <p class="font-bold"><%= message %></p>
    </div>
  <% when "danger" %>
    <div class="bg-error border border-red-400 text-white px-4 py-3 rounded" role="alert">
      <strong class="font-bold"><%= message %></strong>
    </div>
  <% end %>
<% end %>