<%= search_form_for q, url: url do |f| %>
  <form class="relative flex flex-row items-center">
    <div data-controller="autocomplete" data-autocomplete-url-value="/posts/search_tag" role="combobox">
      <%= f.search_field :item_tags_name_cont, data: { autocomplete_target: 'input' }, class: 'w-center px-4 py-2 rounded-l-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500', placeholder: "投稿検索フォーム" %>
      <%= f.hidden_field :item_tags_name, data: { autocomplete_target: 'hidden' } %>
      <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
      <%= f.submit class: 'px-4 py-2 bg-indigo-500 text-white rounded-r-md hover:bg-indigo-600' %>
    </div>
  </form>
<% end %>