<% content_for(:title, t('.title')) %>
<div class="container mx-auto px-4"">
  <h1 class="text-3xl pt-4 mb-4 font-bold">いいねランキング一覧</h1>

  <nav class="flex flex-col md:flex-row justify-center items-center gap-8 mb-4">
    <%= link_to "新規投稿", new_post_path, class: "px-4 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600" %>
  </nav>

  <div class="mt-4 flex justify-center flex-wrap -mx-4">
    <% if @like_posts.present? %>
      <%= render @like_posts %>
    <% else %>
      <div class="mb-3">掲示板がありません</div>
    <% end %>
  </div>
</div>